@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');



html{
    scroll-behavior: smooth;
}

body{
    background-color: #011718;
    font-family: Heebo, SansSerif;
    color: #dddcec;
    margin: 0;
    padding: 0;
}


header{
    font-family: Abel;
    position: fixed;
    width: 100%;
    background-color: #011718;  
    z-index: 1;
}

nav{
    background-color: #011718;
    
}

nav ul li{
    display: inline-flex;
    justify-content: space-between;
    padding: 7px;
    
}

nav ul li a{
    position: relative;
    text-decoration: none;
    color: #dddcec;
    opacity: 80%;
    
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #dddcec;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after { 
    transform: scaleX(1);
    transform-origin: bottom left;   
}

#infos{
    position: relative;
}

.container{
    display: flex;
    flex-direction: row;
}

.right{
    display: inline;
    width: 50%;
    height: 100%;
}

.right img{
    width: 40%;
    margin-top: 18%;
    margin-left: 30%;
    border-radius: 100%;
}

.left{
    font-family:Heebo, SansSerif;
    display: inline;
    color: #dddcec;
    width: 50%;
    height: 100%;
}

.wrapper{
    display: flex;
    margin-top: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 40px;
    width: fit-content;
    text-align: center;
}

.wrapper div h3{
    width: fit-content;
    font-weight: 100;
    text-align: center;
    font-size: 80%;
}


#infos p{
    position: relative;
    justify-self: center;
    margin-top: 11%;
    opacity: 100%;
    font-size: 20px;
}

.dlbtn {
    background-color: rgb(6, 59, 112);
    font-family: Heebo, SansSerif;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 85%;
    transition: background-color .3s;
}

.dlbtn:hover{
    background-color: rgb(5, 48, 90);
}

.centered{
    text-align: center;
    color: #dddcec;
    font-weight: 300;
    justify-content: center;   
}

.nextsection{
    background-color: rgba(255, 255, 255, 0);
    font-family: Abel;
    justify-content: center;
    cursor: pointer;
    padding: 4px;
    color: #dddcec;
    border: 2px solid #4164bc;
    transition: background-color .5s;
}

.nextsection:hover{
    background-color: #4164bc;
}

#cursus{
    position: relative;
}

.titles{
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
}

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    padding: 3em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 4px;
    height: 90%;
    margin-left: -3px;
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(150, 147, 147) 8%, rgb(150, 147, 147) 92%, rgba(80,80,80,0) 100%);
    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(17, 63, 92);
    padding: 6px 10px;
    border-radius: 5px;   
    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: flex;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(15, 57, 96);
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(15, 57, 96);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(15, 57, 96);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgba(5, 42, 73, 0.348);
}

.desc {
    margin: 1em 0.75em 0 0;   
    font-size: 0.77777em;
    font-style: italic;
    display: flex;
    justify-content: center;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

.introtext{
    margin: auto;
    padding: 5%;
    text-align: justify;
    width: 90%;
    font-size: 18px;
}

.logos{
    display: flex;
    justify-content: center;
}

.logo{
    width: 5%;
    margin: 1%;
    transition: transform .3s;
}

.logo:hover{
    transform: scale(1.1);
}

.progressbars{
    padding: 2%;
}

.pb{
    height: 3px;
    margin: 12px;
    display: block;
    background-color: rgba(78, 65, 65, 0.197);
    width: 90%;
}

#cpp::before{
    content: '';
    height: 3px;
    background-color: #0633a6;
    width: 36%;
    position: absolute;
}

#java::before{
    content: '';
    height: 3px;
    background-color: #c4481a;
    width: 30%;
    position: absolute;
}

#html::before{
    content: '';
    height: 3px;
    background-color: #cfc01b;
    width: 22%;
    position: absolute;
}

#css::before{
    content: '';
    height: 3px;
    background-color: #2847a4;
    width: 20%;
    position: absolute;
}

#ue::before{
    content: '';
    height: 3px;
    background-color: #719aff;
    width: 35%;
    position: absolute;
}


#ij::before{
    content: '';
    height: 3px;
    background-color: #ff7300;
    width: 30%;
    position: absolute;
}

#vsc::before{
    content: '';
    height: 3px;
    background-color: #ab04ff;
    width: 22%;
    position: absolute;
}

.screenshots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.content{
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-around;
}

.content img{
    opacity: 90%;
    width: 100%;
    transition: opacity .3s;
}

.text{
    color: #dddcec;
    pointer-events: none;
    opacity: 1%;
    position: absolute;
    transition: opacity .3s;
}

.content img:hover{
    opacity: 50%;
}

.content img:hover + .text{
    opacity: 100%;
}

.but{
    background-color: #1e4291;
    border: none;
    color: white;
    padding: 13px 50px;
    text-decoration: none;
    margin: auto;
    justify-content: center;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    font-size: 100%;
    transition: background-color 0.3s;
}
#copyclipboard{
    height: 20%;
    width: 12.0%;
    
}
.but:hover{
    background-color: #4882ff;
}

.nonflexcontainer{
    padding: 3%;
    font-size: 16px;
}

.sform{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.feedback-input {
    color:white;
    font-weight:500;
    font-size: 12px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #666ad1;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}


textarea {
    height: 150px;
    line-height: 150%;
}

[type="submit"] {
    width: 100%;
    background:#666ad1;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    font-weight:700;
}
[type="submit"]:hover { 
    background:#4146ec; 
}

.socials .logos a{
    display: flex;
    width: 50px;
    padding: 1em;
    justify-content: center;
}

.socials .logos a img{
    width: 100%;
}

footer{
    background-color: #042426;
}

footer a{
    text-decoration: none;
}

footer a h4{
    margin: 0;
}

.ml p a{
    text-decoration: none;
    color: #ada8f3;
}


@media screen and (max-width: 1147px) {
    .centered{
        font-size: 90%;
    }
    
    
    .nextsection{
        font-size: 80%;
    }
    
    .text{
        font-size: 80%;
    }
    
    #idphoto{
        margin-top: 20%;
    }
}

@media screen and (max-width: 940px) {
    .centered{
        font-size: 90%;
    }
    
    .nextsection{
        font-size: 70%;
    }
    
    .text{
        font-size: 70%;
    }
    
    #idphoto{
        margin-top: 22%
    }
}

@media screen and (max-width: 740px) {
    h2.centered{
        font-size: 100%;
    }

    .centered{
        font-size: 80%;
    }
    
    .nextsection{
        font-size: 70%;
    }
    
    .text{
        font-size: 70%;
    }
    
    #idphoto{
        margin-top: 40%
    }
}

@media screen and (max-width: 650px) {
    .introtext{
        text-align: center;
    }

    nav{
        display: flex;
        margin-left: -30px;
        justify-content: center;
        text-align: center;

    }

    .screenshots{
        flex-direction: column;
    }
    
    .container{
        align-items: center;
        flex-direction: column;
    }
    
    .timeline {
        position: relative;
        width: 300px;
    }
    
    .timeline:before {
        background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(150, 147, 147) 8%, rgb(150, 147, 147) 92%, rgba(80,80,80,0) 100%);
    }
    
    .timeline li {
        padding: 1em 0;
    }
    
    .direction-l {
        text-align: justify;
        width: 100px;
        height: 120px;
        left: 4%;
        text-align: center;
    }
    
    .direction-r {
        width: 100px;
        height: 120px;
        right: 5%;
    }


    .direction-r .flag-wrapper{
        left: 5px;
    }

    .direction-l .flag-wrapper{
        right: 5px;
    }
    
    .flag {
        display: inline-block;
        font-size: 70%;
        background: rgba(17, 63, 92, 0);
        padding: 6px 10px;
        border-radius: 5px;   
        font-weight: 600;
    }
    
    .direction-l .flag {
        box-shadow: none;
    }
    
    .direction-r .flag {    
        box-shadow: none;
    }
    
    .direction-l .flag:before,
    .direction-r .flag:before {
        right: -52%;        
    }
    
    .direction-r .flag:before {
        left: -50%;
    }
    
    
    
    .direction-l .time-wrapper {
        margin-left: 10%;
        float: left;
    }
    
    .direction-r .time-wrapper {
        margin-right: 22%;
        float: right;
    }
    
    .time {
        display: inline-flex;
        padding: 4px 6px;
        background: rgba(5, 42, 73, 0.348);
    }
    
    .desc {
        position: relative;   
        font-size: 50%;
        top: 10px;
        display: flex;
        text-align: left;
        line-height: 1.5em;
    }
    
    .direction-r .desc {
        margin: 0;
    }

    .direction-l .desc {
        margin: 0;
    }
    
    
}





